html,
body {
	width  : 100%;
	height : 100%;
	margin : 0;
	}

body {
	background : #444;
	color      : #fff;
	}

canvas {
	position: fixed;
	left:0;
	top:0;
	z-index:-1;
	}
#info {
	position:absolute;
	display:none;
	left:7px;
	top:7px;
	border:1px solid rgba(255,255,255,0.5);
	background:rgba(100,100,100,0.67);
	border-radius:6px;
	padding:12px;
	color:#fff;
	line-height: 16px;
	font:14px monospace;
	white-space: pre;
	}
#info>b {color: #ffdf5e}
#container {
	height:100%;
	font:44px sans-serif;
	text-align: center;
	padding-top:50px;
	}
#container.pre {
	border:12px dashed #aaa;
	border-radius:20px;
	}
/**
 *	Common box sizer
*/
#container {
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	-ms-box-sizing     : border-box;
	-o-box-sizing      : border-box;
	box-sizing         : border-box;
	}
a {
	display:block;
	position:fixed;
	right:24px;
	bottom:24px;
	color:#22a;
	font:bold 18px sans-serif;
	background:rgba(255, 255, 255, 0.75);
	padding:10px 16px;
	border-radius: 6px
	}
